# macOS system files
*.DS_Store

# build artifacts
/.build/
/Packages/

# Xcode specific files
/xcuserdata/
/DerivedData/
*.xcodeproj

# sensitive files
*.netrc
*.ignore

# since this is a header only library
*.cpp